<footer class="footer py-3 bg-light" style="margin-top: 50px">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Выпускной проект на курсе java школа от Сбер Университета.</p>
            </div>
            <div class="col">
                <p>Автор проекта: Булгаков Юрий Алексеевич.</p>
            </div>
            <div class="col">
                <p>Почта для связи <a href="mailto:yura.bulgakov.00@gmail.com">yura.bulgakov.00@gmail.com</a></p>
            </div>
        </div>
    </div>
</footer>